body {
  font-family: comic sans ms;
  background-image: url("BrainyanihanBG.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  height: 100vh;
  color: #202124;
  width: 100%;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2); /* adjust darkness */
  z-index: 0;
}

.form-container {
  background: #040a1a;
  max-width: 600px;
  width: 100%;
  padding: 32px 40px;
  border: 5px double #ebff00;
  border-radius: 8px;
  outline: 3px ridge #00b7ff;
  box-shadow: 15px -5px 50px rgba(77, 255, 255, 0.75), -15px -5px 50px rgba(240,255,5, 0.75), -15px 20px 50px rgba(0, 0, 0, 1),  15px 20px 50px rgba(0, 0, 0, 1);
}

div::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* adjust darkness */
  z-index: -1;
}


h1 {
  font-size: 24px;
  font-weight: 500;
  color: #202124;
  -webkit-text-stroke: 0.4px white;
  margin-bottom: 8px;
}

.form-description {
  font-size: 14px;
  color: #5f6368;
  margin-bottom: 24px;
}

.form-group {
  margin-bottom: 24px;
}

label {
  display: block;
  color: white;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(77, 255, 255, 1);
  font-weight: 500;
  margin-bottom: 6px;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  font-size: 14px;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  border-color: #1a73e8;
  box-shadow: 0 0 0 2px rgba(26,115,232,0.1);
}

.choices label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  cursor: pointer;
}

.submit-btn {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.submit-btn:hover {
  background-color: #1765c0;
}

.form-footer {
  font-size: 12px;
  color: #5f6368;
  margin-top: 20px;
}
