body {
  font-family: comic sans ms;
  background-image: url("https://i.postimg.cc/RZk8tTsV/Brainyanihan-BG.webp");
  background-size: cover;
  background-position: center;
  margin: 0;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  z-index: 0;
  pointer-events: none;
}

/* Fixed header */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  z-index: 10;
  font-size: 22px;
}

.sections {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.form-container {
  position: sticky;
  top: 20vh;
  height: 60vh;
  max-height: 425px;
  margin: 0 auto;
  max-width: 600px;
  background: rgba(4,10,26,0.9);
  padding: 40px;
  border: 4px double #ebff00;
  border-radius: 2.5em;
  z-index: 1;
  transform: scale(0.95);
  opacity: 0.5;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}


.form-container.active {
  transform: scale(1);
  opacity: 1;
}

.main-footer {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  color: #aaa;
}
